@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Bodoni";
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BodoniModa36pt-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Albert Sans";
  font-display: swap;
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/AlbertSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Albert Sans";
  font-display: swap;
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/AlbertSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Albert Sans";
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/AlbertSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Albert Sans";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/AlbertSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Albert Sans";
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/AlbertSans-Black.ttf") format("truetype");
}

* {
  font-family: "Albert Sans";
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f6f6f6;
}

* .placeholderImg {
  max-width: 300px;
}

.Header .title {
  font-size: 3rem;
  font-family: "Bodoni";
  color: #212121;
}

.Header h6 {
  font-size: 10px;
  letter-spacing: 3px;
}

.Header .headerBtn {
  background: url("../icons/menu.svg");
  background-color: #d9cab3;
  outline: none;
  border: none;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.Header .headerBtn.active {
  background: url("../icons/x.svg");
  background-size: contain;
}

.Header .User {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d9cab3;
}

.Header .User img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-color: #d9cab3;
  cursor: pointer;
}

.Header .User h5 {
  background-color: #d9cab3;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.Header header {
  background-color: #d9cab3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
}

.Header .Navbar {
  background-color: #d9cab3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header .Navbar a {
  color: #212121;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 400;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  text-transform: uppercase;
  background-color: #d9cab3;
}

.Header .Navbar a:hover {
  color: #d9cab3;
  -webkit-box-shadow: inset 300px 0px #212121;
          box-shadow: inset 300px 0px #212121;
}

@media (max-width: 768px) {
  .Header .Navbar.active {
    display: block;
    top: 70px;
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    left: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: none;
    background-color: #21212186;
    -webkit-animation: growDown 400ms ease-in-out forwards;
            animation: growDown 400ms ease-in-out forwards;
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
  .Header .Navbar.active a {
    font-size: 20px;
    margin: 10px 0px;
    border-radius: 2px;
  }
  .Header .Navbar.active a:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@-webkit-keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.Home .featured-wrapper .featured-wrapper-txt {
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
}

.Home .featured-wrapper .featured-content {
  padding: 10px 10px;
  max-width: 600px;
  max-height: 500px;
  position: relative;
}

.Home .featured-wrapper .featured-content .featured-content-txt p {
  text-align: left;
  font-weight: 200;
}

.Home .featured-wrapper .featured-content .featured-content-txt h1 {
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
}

.Home .featured-wrapper .featured-content .featured-content-txt a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
  text-decoration: none;
}

.Home .featured-wrapper .featured-content .featured-content-txt a img {
  width: 20px;
  border: none;
}

.Home .featured-wrapper .featured-content img {
  width: 100%;
  height: 80%;
}

.blog .blog-post {
  width: 300px;
  height: 400px;
  text-align: left;
}

.blog .blog-post h5 {
  font-weight: 400;
  text-transform: uppercase;
}

.blog .blog-post p {
  font-weight: 100;
  font-size: 15px;
}

.blog .blog-post img {
  width: 100%;
  height: 200px;
}

.blog .blog-post-icons button {
  outline: none;
  border: none;
}

.blog .blog-post-icons button h6 {
  padding: 10px 10px;
  -webkit-box-shadow: 3px 3px 10px #cacaca;
          box-shadow: 3px 3px 10px #cacaca;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 12px;
}

.blog .blog-post-icons button h6 img {
  width: 15px;
  height: 15px;
  margin: 0 5px;
}
/*# sourceMappingURL=App.css.map */