//typeface
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


//colors and fonts
$main-color: #000;
$secondary-color: #f03e3e;
$background-color: #ffffff;
$highlight-color: #777;
$paragraph-font: "Roboto";

// Global Styling
* {
  font-family: "Poppins";
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: $background-color;
  .placeholderImg {
    width: 200px;
  }
}

@mixin links {
  outline: none;
  text-transform: uppercase;
  background-color: $main-color;
  color: $background-color;
  width: 150px;
  border-radius: 2px;
  padding: 10px 0px;
  margin-top: 30px;
  margin: 15px auto 0px;
}

//Header
.Header {
  h4 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .headerBtn {
    background: url("../icons/menu.svg");
    outline: none;
    border: none;
    background-size: contain;
    width: 25px;
    height: 25px;
  }
  .headerBtn.active {
    background: url("../icons/x.svg");
    background-size: contain;
  }
  //User Info
  .User {
    align-items: center;

    img {
      width: 25px;
      height: 25px;
      margin-right: 10px;

      cursor: pointer;
    }
    h5 {
      font-weight: 400;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  //Navbar
  .Navbar {
    z-index: 2;
    display: flex;
    align-items: center;
  }
  .Navbar.active {
    display: block;
    top: 70px;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100vh;
    left: 0;
    right: 0;
    flex-direction: column;
    background: none;
    background-color: $background-color;
    animation: growDown 400ms ease-in-out forwards;
    transform-origin: top center;

    .auth {
      @include links();
      font-weight: 400;
      font-size: 16.5px;
    }

    a {
      color: $main-color;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      margin: 10px 0px;
      background: none;
      &:hover {
        box-shadow: none;
      }
    }
  }
}

//Navbar animation growDown
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.blognav {
  text-align: left;
  a {
    text-decoration: none;
    color: $background-color;
    background-color: $main-color;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 10px;
    border: 2px solid $main-color;
    border-radius: 20px;
  }

  .createBlogIcon {
    background-color: $background-color;
    img {
      width: 20px;
    }
  }
}

.blog-post {
  width: 300px;
  height: 320px;
  a {
    width: 100%;
    height: 100%;
    text-align: left;
    color: $main-color;
    border-radius: 2px;
    justify-content: space-evenly;
    text-decoration: none;
    &:hover {
      color: $main-color;
    }
    h6 {
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    p {
      font-size: 15px;
    }
    .date {
      font-size: 13px;
      color: $highlight-color;
      text-transform: uppercase;
    }
    img {
      width: 100%;
      height: 45%;
      border-radius: 1px;
    }
  }
}

.Upload {
  margin-top: 50px;
  form {
    text-align: left;
    .error {
      color: $secondary-color;
      padding-bottom: 10px;
    }
    label {
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 10px 0px;
    }
    input,
    textarea {
      outline: none;
      padding: 5px 10px;
      margin-bottom: 15px;
      border-bottom: 1px solid $main-color;
    }
    input[type="file"] {
      display: none;
    }
    span {
      color: #f03e3e;
      align-items: center;
      background-color: #ff63633b;
      border: 1px solid $secondary-color;
      padding: 10px 10px 0px;
      width: auto;
      border-radius: 2px;
      margin: 10px 0px;
      text-align: center;
    }
    .login-pass{
      background: none;
      width: auto;
      text-decoration: underline;
      color: $main-color;
      text-transform: uppercase;
      padding: 10px 0px 0px 0px;
      float: right;
    }
    .coverImg {
      background-color: #ffffff;
      border: 1px dashed $main-color;
      padding: 10px 10px;
      text-align: center;
    }
  }
  button,
  a {
    @include links();
  }
}

//Blog extention / Article
.Article {
  .Article-background {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1,
    h6 {
      background: none;
      color: $background-color;
      font-weight: 600;
      letter-spacing: 2px;
    }
    h6 {
      text-transform: uppercase;
      font-size: 11px;
    }
  }
  p {
    text-align: left;
    font-size: 20px;
    line-height: 2rem;
    font-family: $paragraph-font;
  }
}

//commment, share and clap parent div
.clap-wrapper {
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  position: fixed;
  bottom: 30px;
  right: 0;
  left: 0;
  padding: 7px 0px;
  width: 12%;
  button {
    outline: none;
    align-items: center;
    padding: 2px 10px;
    border-radius: 20px;
    img {
      width: 22px;
      height: 22px;
    }
  }
}

//Media Query for Article and clap-wrapper
@media (max-width: 970px) {
  .Article {
    .Article-background {
      height: 250px;
      width: 90%;
      margin: 0 auto;
    }
  }
}
@media (max-width: 768px) {
  .Article {
    .Article-background {
      height: 220px;
      width: 90%;
      margin: 0 auto;
      h1 {
        font-size: 20px;
      }
    }
  }
  .clap-wrapper {
    width: 40%;
  }
}
//Media Query ends here

.share-wrapper {
  .button-33 {
    background-color: $main-color;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    color: $background-color;
    img {
      width: 30px;
      height: 30px;
      background-color: #000;
    }
  }
}

.Profile{
  h1{
    font-weight: 600;
  }
  h5{
    font-weight: 400;
    font-size: 13px;
  }
}
