@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Poppins";
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fcfbf6;
}

* .placeholderImg {
  width: 200px;
}

.Header h4 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

.Header .headerBtn {
  background: url("../icons/menu.svg");
  outline: none;
  border: none;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.Header .headerBtn.active {
  background: url("../icons/x.svg");
  background-size: contain;
}

.Header .User {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header .User img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.Header .User h5 {
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.Header .Navbar {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header .Navbar.active {
  display: block;
  top: 70px;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  left: 0;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: none;
  background-color: #fcfbf6;
  -webkit-animation: growDown 400ms ease-in-out forwards;
          animation: growDown 400ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.Header .Navbar.active .auth {
  text-decoration: none;
  color: #fcfbf6;
  background-color: #f03e3e;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 400;
}

.Header .Navbar.active a {
  color: #393939;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  margin: 10px 0px;
  background: none;
}

.Header .Navbar.active a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@-webkit-keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.Home .featured-wrapper .featured-wrapper-txt {
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
}

.Home .featured-wrapper .featured-content {
  padding: 10px 10px;
  max-width: 600px;
  max-height: 500px;
  position: relative;
}

.Home .featured-wrapper .featured-content .featured-content-txt p {
  text-align: left;
  font-weight: 200;
}

.Home .featured-wrapper .featured-content .featured-content-txt h1 {
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
}

.Home .featured-wrapper .featured-content .featured-content-txt a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #393939;
  text-decoration: none;
}

.Home .featured-wrapper .featured-content .featured-content-txt a img {
  width: 20px;
  border: none;
}

.Home .featured-wrapper .featured-content img {
  width: 100%;
  height: 80%;
}

.blog .createBlogIcon {
  position: fixed;
  width: auto;
  right: 20px;
  bottom: 15px;
  padding: 10px 10px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 10px #dbdbdb;
          box-shadow: 3px 3px 10px #dbdbdb;
}

.blog .createBlogIcon img {
  width: 25px;
  height: 25px;
}

.blog-post {
  width: 300px;
  text-decoration: none;
  height: 320px;
  text-align: left;
  color: #393939;
  border-radius: 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-post:hover {
  color: #393939;
}

.blog-post h5 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.blog-post h6 {
  font-size: 15px;
  color: #777;
  text-transform: uppercase;
}

.blog-post img {
  width: 100%;
  height: 50%;
  border-radius: 1px;
}

.Upload {
  margin-top: 110px;
}

.Upload form {
  text-align: left;
}

.Upload form label {
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 0px;
}

.Upload form input,
.Upload form textarea {
  outline: none;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #393939;
}

.Upload form input[type="file"] {
  display: none;
}

.Upload form p {
  color: #f03e3e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Upload form .coverImg {
  background-color: #ffffff;
  border: 1px dashed #393939;
  padding: 10px 10px;
  text-align: center;
}

.Upload button,
.Upload a {
  outline: none;
  text-transform: uppercase;
  background-color: #f03e3e;
  color: #fcfbf6;
  width: 150px;
  padding: 10px 0px;
  margin-top: 30px;
}
/*# sourceMappingURL=App.css.map */